n8n/workflows/daily-briefing-automation.json
{
  "name": "Daily AI Briefing Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "name": "Every Day at 8 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3001/api/briefing/generate",
        "options": {
          "bodyContentType": "json",
          "jsonBody": "{\n  \"userId\": 1\n}",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "method": "POST"
      },
      "name": "Generate Daily Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "options": {
          "qs": {
            "q": "New York",
            "appid": "YOUR_WEATHER_API_KEY",
            "units": "imperial"
          }
        }
      },
      "name": "Get Weather Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines",
        "options": {
          "qs": {
            "country": "us",
            "category": "technology",
            "apiKey": "YOUR_NEWS_API_KEY"
          }
        }
      },
      "name": "Get Tech News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [240, 700]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3001/api/briefing/upload-document",
        "options": {
          "bodyContentType": "json",
          "jsonBody": "{\n  \"title\": \"Daily Context - {{ $now.format('YYYY-MM-DD') }}\",\n  \"content\": \"Weather: {{ $node['Get Weather Data'].json.weather[0].description }}, {{ $node['Get Weather Data'].json.main.temp }}°F. News: {{ $node['Get Tech News'].json.articles[0].title }}\",\n  \"userId\": 1\n}",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "method": "POST"
      },
      "name": "Store Context in RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "to": "your-email@example.com",
        "subject": "🤖 Your AI Daily Briefing - {{ $now.format('MMMM DD, YYYY') }}",
        "emailType": "html",
        "message": "<h2>Good Morning! 🌅</h2>\n<p>Your AI agents have prepared your daily briefing:</p>\n<div style=\"background: #f5f5f5; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n{{ $node['Generate Daily Briefing'].json.briefing }}\n</div>\n<p><strong>Weather:</strong> {{ $node['Get Weather Data'].json.weather[0].description }}, {{ $node['Get Weather Data'].json.main.temp }}°F</p>\n<p><strong>Top Tech News:</strong> {{ $node['Get Tech News'].json.articles[0].title }}</p>\n<hr>\n<p><small>Generated by your Personal AI Copilot</small></p>"
      },
      "name": "Send Email Briefing",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Every Day at 8 AM": {
      "main": [
        [
          {
            "node": "Generate Daily Briefing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Weather Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Tech News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Daily Briefing": {
      "main": [
        [
          {
            "node": "Send Email Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather Data": {
      "main": [
        [
          {
            "node": "Store Context in RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tech News": {
      "main": [
        [
          {
            "node": "Store Context in RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}
