n8n/workflows/proactive-knowledge-gathering.json
{
  "name": "Proactive Knowledge Gathering",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10,14,18 * * *"
            }
          ]
        }
      },
      "name": "Three Times Daily",
      "type": "n8n-nodes-base.cron", 
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3001/api/briefing/research",
        "options": {
          "bodyContentType": "json",
          "jsonBody": "{\n  \"query\": \"latest AI developments machine learning\",\n  \"userId\": 1\n}",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "method": "POST"
      },
      "name": "Research AI Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 200]
    },
    {
      "parameters": {
        "url": "https://api.github.com/search/repositories",
        "options": {
          "qs": {
            "q": "AI personal assistant created:>{{ $now.minus({days: 1}).format('YYYY-MM-DD') }}",
            "sort": "stars",
            "order": "desc"
          }
        }
      },
      "name": "GitHub AI Projects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "url": "https://hacker-news.firebaseio.com/v0/topstories.json"
      },
      "name": "Hacker News Stories",
      "type": "n8n-nodes-base.httpRequest", 
      "typeVersion": 4.1,
      "position": [460, 600]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3001/api/briefing/upload-document",
        "options": {
          "bodyContentType": "json",
          "jsonBody": "{\n  \"title\": \"GitHub AI Projects - {{ $now.format('YYYY-MM-DD') }}\",\n  \"content\": \"Top AI repositories from today: {{ $json.items[0].name }} - {{ $json.items[0].description }}. Stars: {{ $json.items[0].stargazers_count }}\",\n  \"userId\": 1\n}",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "method": "POST"
      },
      "name": "Store GitHub Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3001/api/briefing/upload-document",
        "options": {
          "bodyContentType": "json",
          "jsonBody": "{\n  \"title\": \"AI Research Summary - {{ $now.format('YYYY-MM-DD') }}\",\n  \"content\": \"{{ $node['Research AI Trends'].json.data.summary }}\",\n  \"userId\": 1\n}",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "method": "POST"
      },
      "name": "Store Research Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "jsCode": "// Process Hacker News stories and extract AI-related content\nconst stories = $input.all();\nconst aiKeywords = ['AI', 'artificial intelligence', 'machine learning', 'GPT', 'OpenAI', 'LLM'];\n\nlet aiStories = [];\nfor (let story of stories) {\n  if (story.json && story.json.title) {\n    const title = story.json.title.toLowerCase();\n    if (aiKeywords.some(keyword => title.includes(keyword.toLowerCase()))) {\n      aiStories.push({\n        title: story.json.title,\n        url: story.json.url,\n        score: story.json.score\n      });\n    }\n  }\n}\n\nreturn {\n  json: {\n    ai_stories: aiStories.slice(0, 5),\n    total_found: aiStories.length,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "name": "Filter AI Stories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 600]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3001/api/briefing/upload-document",
        "options": {
          "bodyContentType": "json",
          "jsonBody": "{\n  \"title\": \"HackerNews AI Stories - {{ $now.format('YYYY-MM-DD') }}\",\n  \"content\": \"AI-related stories from Hacker News: {{ $json.ai_stories | map('title') | join('; ') }}\",\n  \"userId\": 1\n}",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "method": "POST"
      },
      "name": "Store HN Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 600]
    }
  ],
  "connections": {
    "Three Times Daily": {
      "main": [
        [
          {
            "node": "Research AI Trends",
            "type": "main",
            "index": 0
          },
          {
            "node": "GitHub AI Projects",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hacker News Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research AI Trends": {
      "main": [
        [
          {
            "node": "Store Research Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub AI Projects": {
      "main": [
        [
          {
            "node": "Store GitHub Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News Stories": {
      "main": [
        [
          {
            "node": "Filter AI Stories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter AI Stories": {
      "main": [
        [
          {
            "node": "Store HN Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}
