n8n/workflows/smart-task-management.json
{
  "name": "Smart Task Management",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */4 * * *"
            }
          ]
        }
      },
      "name": "Every 4 Hours",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3001/api/tasks",
        "options": {
          "qs": {
            "userId": "1",
            "status": "pending"
          }
        }
      },
      "name": "Get Pending Tasks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.data.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has Pending Tasks?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3001/api/briefing/plan-tasks",
        "options": {
          "bodyContentType": "json",
          "jsonBody": "{\n  \"userId\": 1\n}",
          "headers": {
            "Content-Type": "application/json"
          },
          "timeout": 30000
        },
        "method": "POST"
      },
      "name": "Generate Task Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3001/api/briefing/upload-document",
        "options": {
          "bodyContentType": "json",
          "jsonBody": "{\n  \"title\": \"Task Plan - {{ $now.format('YYYY-MM-DD HH:mm') }}\",\n  \"content\": \"{{ JSON.stringify($node['Generate Task Plan'].json.data.optimizedTasks.schedule) }}\",\n  \"userId\": 1\n}",
          "headers": {
            "Content-Type": "application/json"
          },
          "timeout": 15000
        },
        "method": "POST"
      },
      "name": "Store Task Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $now.hour() }}",
              "rightValue": 17,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "After 5 PM?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Task reminder logic executed successfully\nconst tasks = $node['Get Pending Tasks'].json.data;\nconsole.log(`📧 Would send email about ${tasks.length} pending tasks`);\nfor (const task of tasks) {\n  console.log(`- ${task.title} (${task.priority} priority)`);\n}\nreturn { success: true, taskCount: tasks.length, message: 'Task reminder processed' };"
      },
      "name": "Send Task Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    }
  ],
  "connections": {
    "Every 4 Hours": {
      "main": [
        [
          {
            "node": "Get Pending Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Tasks": {
      "main": [
        [
          {
            "node": "Has Pending Tasks?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending Tasks?": {
      "main": [
        [
          {
            "node": "Generate Task Plan",
            "type": "main",
            "index": 0
          },
          {
            "node": "After 5 PM?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Task Plan": {
      "main": [
        [
          {
            "node": "Store Task Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "After 5 PM?": {
      "main": [
        [
          {
            "node": "Send Task Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}